<!-- Share modal -->
<!-- ko if: share_show -->
<div class="modal" data-bind="visible: !share_isLoading()">
	<div class="inner">
		<button class="close" data-bind="click: share_close"><span class="fa fa-times"></span></button>
		<p>Share this product map with this link:</p>
		<p><a target="_blank" data-bind="attr: { href: 'http://product-map.parseapp.com/view.html?id=' + share_treeId() + '&v=' + share_treeVersion() }, text: 'http://product-map.parseapp.com/view.html?id=' + share_treeId() + '&v=' + share_treeVersion()"></a></p>
	</div>
</div>
<!-- /ko -->