<!-- Share modal -->
<!-- ko if: viewer_show -->
<div id="viewer" data-bind="visible: !viewer_isLoading()">
	<div id="viewer_menu">
		<button data-bind="click: viewer_toggleOutline, css: { 'active': viewer_showOutline }, visible: !viewer_printMode()" class="fa fa-sitemap" title="View Outline ()"></button>
		<span data-bind="text: viewer_treeTitle"></span>
		<span class="version_number" data-bind="visible: viewer_activeVersionNumber() >= 0 && !viewer_printMode(), text: 'v' + viewer_activeVersionNumber()"></span>
	</div>
</div>
<div id="viewer_content" data-bind="visible: viewer_showOutline() && !viewer_printMode()"></div>
<!-- /ko -->