<div class="tools" data-bind="style: { 'top': topPosition() + 'px' }, visible: visible">
	<div class="tool-icons">
		<span class="md md-color-lens"></span>
		<span class="md md-color-lens"></span>
		<span class="md md-color-lens"></span>
	</div>
	<div class="tools-menu">
		<div class="tool-row">
			<span class="md md-color-lens"></span>
			<span class="md md-color-lens"></span>
			<span class="md md-color-lens"></span>
		</div>
		<div class="tool-row">
			<span class="md md-color-lens"></span>
			<span class="md md-color-lens"></span>
			<span class="md md-color-lens"></span>
		</div>
		<div class="tool-row">
			<span class="md md-color-lens"></span>
			<span class="md md-color-lens"></span>
			<span class="md md-color-lens"></span>
			<span class="md md-color-lens"></span>
			<span class="md md-color-lens"></span>
			<span class="md md-color-lens"></span>
			<span class="md md-color-lens"></span>
		</div>
	</div>
</div>
