#editor {
	background-color: rgba(255,255,255,0.9);
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 400px;
	border-left: 1px solid fade(#000, 10%);
	overflow: hidden;
	#editor_content {
		padding: 0;
		margin: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 55px;
		overflow: auto;
		&.submenu_active {
			left: 85px;
		}
	}
	#editor_swatchPicker {
		position: absolute;
		left: 50px;
		top: 0;
		height: 100%;
		width: 30px;
		background-color: fade(#000, 10%);
		z-index: 2;
		button {
			width: 100%;
			height: 30px;
			border: 0px none;
			background-color: transparent;
			cursor: pointer;
		}
	}
	#editor_loading_panel {
		position: absolute;
		right: 0;
		left: 50px;
		top: 0;
		bottom: 0;
		overflow: auto;
		background-color: #DDD;
		z-index: 5;
		padding: 10px;
		.trees {

		}
		.versions {
			position: absolute;
			right: 100%;
		}
		h2 {
			font-size: 24px;
			margin: 0;
			padding: 0;
			font-weight: normal;
			font-family: @_font-proxima;
			border-bottom: 1px solid fade(#FFF, 50%);
			width: 100%;
		}
		ol {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		li {
			color: #000;
			font-weight: bold;
			height: 40px;
			line-height: 40px;
			white-space: nowrap;
			font-size: 14px;
			border-bottom: 1px solid fade(#FFF, 50%);
			cursor: pointer;
			position: relative;
			width: 100%;
			.date {
				font-weight: normal;
				color: fade(#000, 40%);
			}
			.versions {
				background-color: fade(#000, 30%);
				position: absolute;
				right: 0;
				top: 5px;
				padding: 0 11px;
				border-radius: 30px;
				background-color: rgba(0, 0, 0, 0.1);
				height: 30px;
				line-height: 30px;
				text-align: center;
				color: #000;
				font-weight: normal;
			}
		}
	}
	#editor_buttons {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 50px;
		overflow: hidden;
		text-align: center;
		button {
			border-radius: 3px;
			font-size: 24px;
			background-color: transparent;
			border: 0px none;
			width: 34px;
			height: 34px;
			text-align: center;
			margin: 3px 0;
			padding: 0;
			color: fade(#000, 50%);
			cursor: pointer;
			&:hover {
				color: #000;
			}
			span {
				display: none;
			}
			&.active {
				background-color: fade(#000, 10%);
				color: #000;
			}
		}
		.button_group {
			border-radius: 5px;
			margin: 3px 0;
			display: inline-block;
			padding: 0;
			width: 40px;
			border: 1px solid fade(#000, 30%);
		}
		.saving {
			opacity: 0.5;
			&:hover {
				color: fade(#000, 50%);
			}
		}
	}
	#editor_save_message {
		position: absolute;
		padding: 0 10px;
		z-index: 3;
		left: 50px;
		top: 3px;
		border-radius: 5px;
		border: 1px solid #333;
		background-color: #FFF;
		color: #333;
		font-size: 14px;
		vertical-align: middle;
		height: 40px;
		line-height: 40px;
		font-style: italic;
		font-family: @_font-proxima;
		white-space: nowrap;
	}
}