#tree {
  text-align: center;
}
#tree * {
  margin: 0;
  padding: 0;
}
#tree .tree-container.square li > span {
  width: 100px;
  height: 100px;
}
#tree .tree-container.portrait li > span {
  width: 100px;
  height: 160px;
}
#tree .tree-container.landscape li > span {
  width: 160px;
  height: 100px;
}
#tree ol:first-child {
  text-align: center;
  width: 100%;
  padding-bottom: 40px;
}
#tree ol {
  padding-top: 20px;
  position: relative;
  white-space: nowrap;
  cursor: move;
}
#tree ol ol::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  width: 0;
  height: 20px;
}
#tree ol:first-child > li:first-child::before {
  display: none;
}
#tree li {
  display: inline-block;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 5px 0 5px;
  vertical-align: top;
}
#tree li::before,
#tree li::after {
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  width: 50%;
  height: 20px;
}
#tree li::after {
  right: auto;
  left: 50%;
  border-left: 1px solid rgba(0, 0, 0, 0.4);
}
#tree li:only-child::after,
#tree li:only-child::before {
  display: none;
}
#tree li:first-child::before,
#tree li:last-child::after {
  border: 0 none;
}
#tree li:last-child::before {
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 0 5px 0 0;
}
#tree li:first-child::after {
  border-radius: 5px 0 0 0;
}
#tree li:only-child {
  padding-top: 20px;
}
#tree li:only-child::before {
  display: block;
  border-radius: 0;
  left: 1px;
}
#tree li span {
  cursor: pointer;
  text-align: left;
  border: 4px solid;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  font-family: arial, verdana, tahoma;
  font-size: 14px;
  display: inline-block;
  background-color: #FFF;
  border-radius: 10px;
  white-space: normal;
  word-break: break-word;
  font-family: 'proxima-nova';
}
#tree li span:hover,
#tree li span:hover + ol li span {
  background-color: #c8e4f8;
  color: #000;
}
#tree li span:hover + ol li::after,
#tree li span:hover + ol li::before,
#tree li span:hover + ol::before,
#tree li span:hover + ol ol::before {
  border-color: #000;
}
#tree li span.collapsed {
  opacity: .2;
}
#tree li span.collapsed + ol,
#tree li span.collapsed + li {
  display: none;
}
#tree li span.component {
  border: 4px dotted;
  padding: 12px;
}
#tree li span.dialog {
  background-color: rgba(0, 0, 0, 0.6);
  color: #FFF;
}
#tree li span.dialog:hover {
  background-color: rgba(200, 228, 248, 0.6);
  color: #000;
}
#tree li span.stacked {
  position: relative;
}
#tree li span.stacked::after,
#tree li span.stacked::before {
  content: '';
  display: block;
  width: auto;
  height: 40px;
  border-bottom: 3px solid;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  position: absolute;
}
#tree li span.stacked::after {
  bottom: -14px;
  left: -3px;
  width: 100px;
}
#tree li span.stacked::before {
  bottom: -9px;
  left: -3px;
  width: 100px;
}
#tree li span.stacked + ol::before {
  top: 10px;
  height: 10px;
}
#editor {
  position: absolute;
  left: 0;
  top: 0;
  width: 400px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
#editor button {
  border-radius: 3px;
  font-size: 20px;
  background-color: transparent;
  border: 0px none;
  width: 34px;
  height: 34px;
  text-align: center;
  margin: 3px;
  padding: 0;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
#editor button:hover {
  color: #000;
}
#editor button.active {
  background-color: rgba(0, 0, 0, 0.1);
  color: #000;
}
#editor button.disabled {
  opacity: 0.4;
  cursor: default;
}
#editor button.disabled:hover {
  cursor: default;
  color: rgba(0, 0, 0, 0.5);
}
#editor .button_group {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#editor #editor_tree_title {
  position: absolute;
  top: 10px;
  text-align: center;
  left: 75px;
  font-size: 24px;
  font-family: 'proxima-nova';
}
#editor #editor_tree_title.submenu_active {
  left: 105px;
}
#editor #editor_content {
  padding: 40px 0 20px 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 50px;
  height: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  min-width: 200px;
}
#editor #editor_content.submenu_active {
  padding-left: 35px;
}
#editor #editor_content ol {
  position: relative;
  list-style: none;
}
#editor #editor_content ol:first-child {
  padding: 0 30px;
  height: 100%;
  width: 100%;
  overflow: auto;
}
#editor #editor_content ol::before {
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -15px;
}
#editor #editor_content li {
  color: #000;
  margin-left: 0;
  white-space: nowrap;
}
#editor #editor_content li:before {
  font-family: FontAwesome;
  content: '\f10c';
  width: 15px;
  color: rgba(0, 0, 0, 0.2);
  position: absolute;
  margin-left: -20px;
  font-size: 7px;
  padding: 7px 0 0 3px;
}
#editor #editor_content li.has_children:before {
  content: '\f0d7';
  font-size: 20px;
  padding: 0;
}
#editor #editor_content li.collapsed:before {
  content: '\f0da';
  padding-left: 3px;
}
#editor #editor_content li.collapsed + ol {
  display: none;
}
#editor #editor_swatchPicker {
  position: fixed;
  left: 50px;
  top: 50px;
  width: auto;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 3;
  padding: 0;
}
#editor #editor_swatchPicker button {
  width: 30px;
  height: 30px;
  border: 0px none;
  background-color: transparent;
  cursor: pointer;
  display: block;
}
#editor #editor_menu {
  position: fixed;
  top: 0;
  z-index: 3;
  padding: 5px 0 0 10px;
  left: 0;
  height: 40px;
  padding-right: 40px;
  background-color: rgba(255, 255, 255, 0.9);
}
#editor #editor_menu button {
  margin: 0;
}
#editor #editor_menu button:first-child {
  margin-right: 15px;
}
#editor #editor_menu span {
  font-size: 24px;
  margin-left: 5px;
}
#editor #editor_menu span.version_number {
  color: rgba(0, 0, 0, 0.3);
}
#editor #editor_loading_panel {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  min-width: 300px;
  overflow: auto;
  z-index: 5;
  padding: 0;
  background-color: #FFF;
}
#editor #editor_loading_panel .header {
  position: absolute;
  width: 100%;
  height: 40px;
  background-color: #FFF;
}
#editor #editor_loading_panel .close {
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: 0px none;
  font-size: 20px;
  cursor: pointer;
  margin: 0;
}
#editor #editor_loading_panel h2 {
  font-size: 24px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'proxima-nova';
  width: 100%;
  display: inline;
  vertical-align: middle;
}
#editor #editor_loading_panel .editor_empty_message {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  line-height: 40px;
  padding-left: 10px;
}
#editor #editor_loading_panel .trees,
#editor #editor_loading_panel .versions {
  min-width: 300px;
  float: left;
  height: 100%;
  overflow: hidden;
  padding-top: 40px;
}
#editor #editor_loading_panel .trees {
  background-color: rgba(0, 0, 0, 0.15);
}
#editor #editor_loading_panel .trees .map_name {
  float: left;
  cursor: pointer;
}
#editor #editor_loading_panel .trees .version_number {
  float: right;
  background-color: #FFF;
  padding: 0 10px;
  height: 30px;
  margin-top: 5px;
  line-height: 30px;
  font-weight: normal;
  border-radius: 10px;
  cursor: pointer;
}
#editor #editor_loading_panel .trees .version_number.active {
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFF;
}
#editor #editor_loading_panel .versions {
  background-color: rgba(0, 0, 0, 0.1);
}
#editor #editor_loading_panel .versions li {
  font-weight: normal;
  cursor: pointer;
}
#editor #editor_loading_panel .versions li.active {
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFF;
}
#editor #editor_loading_panel .versions li.active .date {
  color: #FFF;
}
#editor #editor_loading_panel .versions .version_number {
  float: left;
}
#editor #editor_loading_panel .versions .date {
  float: right;
}
#editor #editor_loading_panel ol {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
  height: 100%;
  width: 100%;
}
#editor #editor_loading_panel li {
  color: #000;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
  font-size: 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  position: relative;
  width: 100%;
  padding: 0 10px;
  clear: both;
}
#editor #editor_loading_panel li .date {
  font-weight: normal;
  color: rgba(0, 0, 0, 0.4);
}
#editor #editor_buttons {
  position: fixed;
  top: 40px;
  left: 0;
  height: 100%;
  width: 50px;
  overflow: hidden;
  text-align: center;
  padding-top: 5px;
  background-color: rgba(255, 255, 255, 0.9);
}
#editor #editor_buttons .saving {
  opacity: 0.5;
}
#editor #editor_buttons .saving:hover {
  color: rgba(0, 0, 0, 0.5);
}
#editor #editor_save_message {
  border-radius: 5px;
  background-color: #FFF;
  color: #333;
  line-height: 40px;
  font-style: italic;
  white-space: nowrap;
  position: fixed;
  margin: 0 auto;
  z-index: 100;
  text-align: center;
  font-size: 24px;
  border: 1px solid gray;
  top: -5px;
  width: 200px;
  padding-top: 1px;
  left: 50%;
  margin-left: -100px;
  font-family: 'proxima-nova';
}
#auth .modal {
  margin-top: 5px;
}
#auth .inner {
  width: 300px;
  height: auto;
}
#auth .inner p {
  font-family: 'proxima-nova';
  font-weight: 100;
  margin: 0;
  padding: 0;
}
#auth .inner .or {
  position: relative;
  margin: 30px auto;
}
#auth .inner .or div {
  padding: 0;
  position: absolute;
  border: 1px solid #DDD;
  border-radius: 20px;
  width: 25px;
  margin: 0 auto;
  left: 50%;
  margin-left: -15px;
  top: -15px;
  background-color: #FFF;
  height: 25px;
  line-height: 24px;
  font-style: italic;
  font-size: 12px;
  color: #999;
}
#auth .inner hr {
  margin: 20px 0;
  border: 0;
  height: 1px;
  background: #DDD;
}
#auth .inner .tabs {
  font-size: 24px;
  padding-bottom: 10px;
  cursor: pointer;
}
#auth .inner .tabs > span {
  width: 50%;
  text-align: center;
}
#auth .inner .tabs .active {
  font-weight: bold;
}
#auth .inner input[type=text],
#auth .inner input[type=password] {
  border: 0px none;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #CCC;
  margin-bottom: 10px;
  font-size: 18px;
  font-family: 'proxima-nova';
  font-weight: 100;
  color: #000;
  padding: 0;
  border-radius: 0;
}
#auth .inner .forgotpassword,
#auth .inner .cancel {
  font-size: 12px;
  margin: 20px 0 0 0;
  color: #666;
  display: block;
  cursor: pointer;
}
#auth .inner button[type=submit],
#auth .inner .facebook {
  width: 100%;
  height: 40px;
  border: 0px none;
  border-radius: 5px;
  color: #FFF;
  background-color: #00ace8;
  font-size: 24px;
  font-family: 'proxima-nova';
  font-weight: 100;
  cursor: pointer;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}
#auth .inner .errors {
  width: 100%;
  background-color: red;
  color: #FFF;
  font-size: 12px;
  margin: 5px 0;
  padding: 10px 5px;
  font-family: 'proxima-nova';
  font-weight: 100;
  text-transform: lowercase;
  line-height: 12px;
}
#auth .inner .errors:first-letter {
  text-transform: capitalize;
}
#auth .inner .facebook {
  background-color: #3b5998;
  font-size: 18px;
  margin-top: 0;
}
#treenav {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px 20px;
}
#treenav .slider {
  width: 100px;
}
#treenav button {
  width: 34px;
  height: 34px;
  border: 0px none;
  background-color: transparent;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}
#treenav button.active {
  background-color: rgba(0, 0, 0, 0.1);
}
#treenav button:hover {
  color: #000;
}
#treenav #treenav_orientation {
  position: fixed;
  right: 0;
  bottom: 0;
}
#viewer {
  position: absolute;
  left: 0;
  top: 0;
  width: 400px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
#viewer button {
  border-radius: 3px;
  font-size: 20px;
  background-color: transparent;
  border: 0px none;
  width: 34px;
  height: 34px;
  text-align: center;
  margin: 3px;
  padding: 0;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
#viewer button:hover {
  color: #000;
}
#viewer button.active {
  background-color: rgba(0, 0, 0, 0.1);
  color: #000;
}
#viewer button.disabled {
  opacity: 0.4;
  cursor: default;
}
#viewer button.disabled:hover {
  cursor: default;
  color: rgba(0, 0, 0, 0.5);
}
#viewer .button_group {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#viewer #viewer_tree_title {
  position: absolute;
  top: 10px;
  text-align: center;
  left: 75px;
  font-size: 24px;
  font-family: 'proxima-nova';
}
#viewer #viewer_tree_title.submenu_active {
  left: 105px;
}
#viewer #viewer_content {
  padding: 40px 0 20px 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  min-width: 200px;
}
#viewer #viewer_content.submenu_active {
  padding-left: 35px;
}
#viewer #viewer_content ol {
  position: relative;
  list-style: none;
}
#viewer #viewer_content ol:first-child {
  padding: 0 30px;
  height: 100%;
  width: 100%;
  overflow: auto;
}
#viewer #viewer_content ol::before {
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -15px;
}
#viewer #viewer_content li {
  color: #000;
  margin-left: 0;
  white-space: nowrap;
}
#viewer #viewer_content li:before {
  font-family: FontAwesome;
  content: '\f10c';
  width: 15px;
  color: rgba(0, 0, 0, 0.2);
  position: absolute;
  margin-left: -20px;
  font-size: 7px;
  padding: 7px 0 0 3px;
}
#viewer #viewer_content li.has_children:before {
  content: '\f0d7';
  font-size: 20px;
  padding: 0;
}
#viewer #viewer_content li.collapsed:before {
  content: '\f0da';
  padding-left: 3px;
}
#viewer #viewer_content li.collapsed + ol {
  display: none;
}
#viewer #viewer_menu {
  position: fixed;
  top: 0;
  z-index: 3;
  padding: 5px 0 0 10px;
  left: 0;
  height: 40px;
  padding-right: 40px;
  background-color: rgba(255, 255, 255, 0.9);
}
#viewer #viewer_menu button {
  margin: 0;
}
#viewer #viewer_menu button:first-child {
  margin-right: 15px;
}
#viewer #viewer_menu span {
  font-size: 24px;
  margin-left: 5px;
}
#viewer #viewer_menu span.version_number {
  color: rgba(0, 0, 0, 0.3);
}
#viewer #viewer_loading_panel {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  min-width: 300px;
  overflow: auto;
  z-index: 5;
  padding: 0;
  background-color: #FFF;
}
#viewer #viewer_loading_panel .header {
  position: absolute;
  width: 100%;
  height: 40px;
  background-color: #FFF;
}
#viewer #viewer_loading_panel .close {
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: 0px none;
  font-size: 20px;
  cursor: pointer;
  margin: 0;
}
#viewer #viewer_loading_panel h2 {
  font-size: 24px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'proxima-nova';
  width: 100%;
  display: inline;
  vertical-align: middle;
}
#viewer #viewer_loading_panel .viewer_empty_message {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  line-height: 40px;
  padding-left: 10px;
}
#viewer #viewer_loading_panel .trees,
#viewer #viewer_loading_panel .versions {
  min-width: 300px;
  float: left;
  height: 100%;
  overflow: hidden;
  padding-top: 40px;
}
#viewer #viewer_loading_panel .trees {
  background-color: rgba(0, 0, 0, 0.15);
}
#viewer #viewer_loading_panel .trees .map_name {
  float: left;
  cursor: pointer;
}
#viewer #viewer_loading_panel .trees .version_number {
  float: right;
  background-color: #FFF;
  padding: 0 10px;
  height: 30px;
  margin-top: 5px;
  line-height: 30px;
  font-weight: normal;
  border-radius: 10px;
  cursor: pointer;
}
#viewer #viewer_loading_panel .trees .version_number.active {
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFF;
}
#viewer #viewer_loading_panel .versions {
  background-color: rgba(0, 0, 0, 0.1);
}
#viewer #viewer_loading_panel .versions li {
  font-weight: normal;
  cursor: pointer;
}
#viewer #viewer_loading_panel .versions li.active {
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFF;
}
#viewer #viewer_loading_panel .versions li.active .date {
  color: #FFF;
}
#viewer #viewer_loading_panel .versions .version_number {
  float: left;
}
#viewer #viewer_loading_panel .versions .date {
  float: right;
}
#viewer #viewer_loading_panel ol {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
  height: 100%;
  width: 100%;
}
#viewer #viewer_loading_panel li {
  color: #000;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
  font-size: 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  position: relative;
  width: 100%;
  padding: 0 10px;
  clear: both;
}
#viewer #viewer_loading_panel li .date {
  font-weight: normal;
  color: rgba(0, 0, 0, 0.4);
}
#viewer #viewer_buttons {
  position: fixed;
  top: 40px;
  left: 0;
  height: 100%;
  width: 50px;
  overflow: hidden;
  text-align: center;
  padding-top: 5px;
  background-color: rgba(255, 255, 255, 0.9);
}
#viewer #viewer_buttons .saving {
  opacity: 0.5;
}
#viewer #viewer_buttons .saving:hover {
  color: rgba(0, 0, 0, 0.5);
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'nghtclub';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* apply a natural box layout model to all elements */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'proxima-nova';
  -ms-touch-action: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  outline: none;
}
body button,
body input {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
body::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0px;
  height: 1px;
  background-color: #FFF;
  -webkit-box-shadow: #FFF;
}
body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.4);
}
header,
footer,
nav {
  position: fixed;
}
.lightbox_screen {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 30000;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.lightbox_bg {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  filter: blur(10px);
}
.outline_open {
  padding-left: 400px;
}
.modal {
  flex-direction: column;
  position: absolute;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */

  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */

  display: -ms-flexbox;
  /* TWEENER - IE 10 */

  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.modal .close {
  position: absolute;
  color: #FFF;
  font-size: 18px;
  width: 40px;
  top: -20px;
  right: -20px;
  height: 40px;
  border-radius: 20px;
  line-height: 30px;
  background-color: #00ace8;
  border: 3px solid #FFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.modal .inner {
  height: auto;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px;
  border: 10px solid rgba(255, 255, 255, 0.2);
  font-family: 'proxima-nova';
  position: relative;
  z-index: 10;
  border-radius: 3px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.fb_dialog {
  z-index: 1900200 !important;
}
