auth {
	display: flex;
	flex-direction: row;
	button {
		background-color: #f53b51 !important;
		color: white !important;
	}
	a.standard-button {
		border: 0;
		height: 30px;
		margin-left: 10px;
		text-align: center;
		align-self: center;
		cursor: pointer;
		color: #CCC;
		text-decoration: none;
		line-height: 30px;
		padding: 0 10px;
		background-color: #333;
		font-size: 14px;
		font-family: @font-sans;
	}
}